html body{margin:0; padding:0;}

.container{
    display: flex;
    height: 1000px;
    width: 2000px;
    align-items: center;
    justify-content: center;
    border: 10px blue solid;

 }


.box{
    display: flex;
    height: 450px;
    width: 300px;
    border-radius: 15px;
    border: 10px greenyellow solid;
    flex-flow: column;
    align-content:flex-end;
    justify-items:center;
    background-color: blue;
    
}

#button_board{
    display: flex;
    height: 300px;
    width: 300px;
    border: auto none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
    background-color: orange;
}


.buttons{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: gray;
}

#screen{
    height: 150px;
    width: 300px;
    background-color: black;
    border-radius: 15px;
    text-align: center;

    
}
#calc_text{
    color: rgb(255, 255, 255);
}




